<div class="services-main">
	<div class="wrapper">
		<h1>Who We Are (or this could be service area)</h1>
		<div>
			<img id="services-img" src="img/test-shop.jpg"/>
			<p>From repairs to maintenance, our shop offers great auto repair and vehicle maintenance for European vehicles: ALFA, AUDI, BMW, FIAT, JAGUAR, MERCEDES-BENZ, MINI, PEUGEOT, PORSCHE, LAND ROVER, SAAB, VOLVO, VOLKSWAGEN, and all BRITISH (including: MG, HEALEY, TRIUMPH, ROLLS ROYCE, and BENTLEY).</p>
			<p>For over 33 years, IMPORT AUTO CENTER has been the premier independent European auto service center for Utah Valley. Our shop specializes in European vehicles from repairs and maintenance to complete restorations. We have diagnostic computers designed specifically for BMW, MERCEDES-BENZ, VOLKSWAGEN, AUDI, and VOLVO, giving us more complete access to information that generic scan tools used by others don’t provide.</p>
			<p>IMPORT AUTO CENTER is dedicated to maintaining the standards of excellence your vehicle represents, and has the experience and technology to keep your vehicle running the way it was meant to.</p>
			<p>Visit our auto repair shop in Provo, Utah, for European auto repair and vehicle maintenance services for your Audi, BMW, Mercedes, or Volvo.</p>
		</div>
		
		
		
	</div>
	
</div>