
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Fjalla+One');


$color1: #F79238;
$color2: #9A8F97;
$color3: #FFFFFF;
$color4: #C3BABA;
$color5: #E9E3E6;


/*whole page stuffs*/

body {
  background: $color3;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}



/* Nav Bar section */

header {
  background: rgba(0, 0, 0, 0.15);
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  transition: all .5s ease-in;

  .nav {
    width: 70vw;
    min-width: 875px;
    max-width: 1050px;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }

  .menu {
    height: 100%;
    width: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
  }

  #logo-large {
    width: 400px;
    transition: height .5s linear;
  }
  #logo-small {
    height: 70px;
    transition: height .5s linear;
  }

  #phone {
    margin: 7px 10px 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
  }

}

.scroll-menu {
  background-color: $color1;
  transition: all .5s ease-in;
}




/*View section*/

.view {
  margin-top: 70px;
}



.landing-wrapper {
  background: rgba(0, 0, 0, 0.89);
}



.landing-image {
  width: 100vw;
  height: 60vh;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* info */

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  .inner {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.outer-hour-wrapper {
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hour-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-list {
  padding: 0;
  height: auto;
  width: auto;
}

.day-list-item {
  display: flex;
}

.day {
  width: 150px;
}

.contact-wrapper {
  background: rgba(154, 143, 151, 0.79);
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.make-buttons-main {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  
  
  .buttons-wrapper {
    width: 50vw;
    display: flex;
    justify-content: center;
  }
  
  .button-wrapper{
    width: 150px;
    height: 150px;
    background-image: url("../img/make-btn-bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .car-button {
    width: 140px;
  }
}




.services-main {
  width: 100%;
  display: flex;
  justify-content: center;

  .wrapper {
    width: 57vw;
    min-height: 100px;
    background: $color4;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  #services-img{
    margin-top: 16px;
    float: left;
    width: 30vw;
  }
  
}

.maps {
  width: 100vw;
  display: flex;
  justify-content: center;
  
  #map {
     width: 80vw;
     height: 400px;
     border-radius: 20px;
     pointer-events: none;
   }
}


.restoration-main {
  width: 100%;
  display: flex;
  justify-content: center;
  
  
  
}


footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .foot-contact {
    min-width: 440px;
    width: 60vw;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
  }
}

/*
@media (max-width: ##px) {

}
*/

@media (max-width: 1150px) {
  #phone {
    display: none;
  }

}

@media (max-width: 1000px) {
  .services-main {

    .wrapper {
      width: 75vw;
    }
  }

}

@media (max-width: 550px) {
  .services-main {

    #services-img{
      width: 100%;
    }
  }
}